# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/#include <SoftwareSerial.h>

SoftwareSerial mySerial(2, 3); // RX, TX

int sensorPin = A5;  // Pin sensor analog
int sensorData = 0; // Variabel untuk menyimpan nilai sensor
String nilai_cm; // Deklarasi variabel untuk nilai dalam cm

void setup() {
  Serial.begin(9600);
  mySerial.begin(9600); // Inisialisasi komunikasi serial SoftwareSerial dengan baud rate 9600
}

void loop() {
  sensorData = analogRead(sensorPin); // Membaca nilai sensor

  // Penentuan nilai_cm berdasarkan sensorData
  if (sensorData >= 0 && sensorData <= 0) {
    nilai_cm = "0.0";
  } else if (sensorData >= 1 && sensorData <= 1) {
    nilai_cm = "0.1";
  } else if (sensorData >= 2 && sensorData <= 2) {
    nilai_cm = "0.2";
  } else if (sensorData >= 3 && sensorData <= 3) {
    nilai_cm = "0.3";
  } else if (sensorData >= 4 && sensorData <= 4) {
    nilai_cm = "0.4";
  } else if (sensorData >= 5 && sensorData <= 5) {
    nilai_cm = "0.5";
  } else if (sensorData >= 6 && sensorData <= 6) {
    nilai_cm = "0.6";
  } else if (sensorData >= 7 && sensorData <= 7) {
    nilai_cm = "0.7";
  } else if (sensorData >= 8 && sensorData <= 10) {
    nilai_cm = "0.8";
  } else if (sensorData >= 11 && sensorData <= 11) {
    nilai_cm = "0.9";
  } else if (sensorData >= 12 && sensorData <= 18) {
    nilai_cm = "1.0";
  } else if (sensorData >= 19 && sensorData <= 21) {
    nilai_cm = "1.1";
  } else if (sensorData >= 22 && sensorData <= 26) {
    nilai_cm = "1.2";
  } else if (sensorData >= 27 && sensorData <= 31) {
    nilai_cm = "1.3";
  } else if (sensorData >= 32 && sensorData <= 34) {
    nilai_cm = "1.4";
  } else if (sensorData >= 35 && sensorData <= 40) {
    nilai_cm = "1.5";
  } else if (sensorData >= 41 && sensorData <= 46) {
    nilai_cm = "1.6";
  } else if (sensorData >= 47 && sensorData <= 68) {
    nilai_cm = "1.7";
  } else if (sensorData >= 69 && sensorData <= 96) {
    nilai_cm = "1.8";
  } else if (sensorData >= 97 && sensorData <= 126) {
    nilai_cm = "1.9";
  } else if (sensorData >= 127 && sensorData <= 187) {
    nilai_cm = "2.0";
  } else if (sensorData >= 188 && sensorData <= 218) {
    nilai_cm = "2.1";
  } else if (sensorData >= 219 && sensorData <= 238) {
    nilai_cm = "2.2";
  } else if (sensorData >= 239 && sensorData <= 296) {
    nilai_cm = "2.3";
  } else if (sensorData >= 297 && sensorData <= 316) {
    nilai_cm = "2.4";
  } else if (sensorData >= 317 && sensorData <= 349) {
    nilai_cm = "2.5";
  } else if (sensorData >= 350 && sensorData <= 372) {
    nilai_cm = "2.6";
  } else if (sensorData >= 373 && sensorData <= 412) {
    nilai_cm = "2.7";
  } else if (sensorData >= 413 && sensorData <= 478) {
    nilai_cm = "2.8";
  } else if (sensorData >= 479 && sensorData <= 521) {
    nilai_cm = "2.9";
  } else if (sensorData >= 522 && sensorData <= 547) {
    nilai_cm = "3.0";
  } else if (sensorData >= 548 && sensorData <= 572) {
    nilai_cm = "3.1";
  } else if (sensorData >= 573 && sensorData <= 615) {
    nilai_cm = "3.2";
  } else if (sensorData >= 616 && sensorData <= 653) {
    nilai_cm = "3.3";
  } else if (sensorData >= 654 && sensorData <= 693) {
    nilai_cm = "3.4";
  } else if (sensorData >= 694 && sensorData <= 727) {
    nilai_cm = "3.5";
  } else if (sensorData >= 728 && sensorData <= 761) {
    nilai_cm = "3.6";
  } else if (sensorData >= 762 && sensorData <= 810) {
    nilai_cm = "3.7";
  } else if (sensorData >= 811 && sensorData <= 826) {
    nilai_cm = "3.8";
  } else if (sensorData >= 827 && sensorData <= 872) {
    nilai_cm = "3.9";
  } else if (sensorData >= 873 && sensorData <= 897) {
    nilai_cm = "4.0";
  } else if (sensorData >= 898 && sensorData <= 941) {
    nilai_cm = "4.1";
  } else if (sensorData >= 942 && sensorData <= 971) {
    nilai_cm = "4.2";
  } else if (sensorData >= 972 && sensorData <= 977) {
    nilai_cm = "4.3";
  } else if (sensorData >= 978 && sensorData <= 982) {
    nilai_cm = "4.4";
  } else if (sensorData >= 983 && sensorData <= 989) {
    nilai_cm = "4.5";
  } else if (sensorData >= 990 && sensorData <= 994) {
    nilai_cm = "4.6";
  } else if (sensorData >= 995 && sensorData <= 997) {
    nilai_cm = "4.7";
  } else if (sensorData >= 998 && sensorData <= 1003) {
    nilai_cm = "4.8";
  } else if (sensorData >= 1004 && sensorData <= 1006) {
    nilai_cm = "4.9";
  } else if (sensorData >= 1007 && sensorData <= 1008) {
    nilai_cm = "5.0";
  } else if (sensorData >= 1009 && sensorData <= 1009) {
    nilai_cm = "5.1";
  } else if (sensorData >= 1010 && sensorData <= 1012) {
    nilai_cm = "5.2";
  } else if (sensorData >= 1013 && sensorData <= 1014) {
    nilai_cm = "5.3";
  } else if (sensorData >= 1015 && sensorData <= 1015) {
    nilai_cm = "5.4";
  } else if (sensorData >= 1016 && sensorData <= 1017) {
    nilai_cm = "5.5";
  } else if (sensorData >= 1018 && sensorData <= 1018) {
    nilai_cm = "5.6";
  } else if (sensorData >= 1019 && sensorData <= 1019) {
    nilai_cm = "5.7";
  } else if (sensorData >= 1020 && sensorData <= 1020) {
    nilai_cm = "5.8";
  } else if (sensorData >= 1021 && sensorData <= 1022) {
    nilai_cm = "5.9";
  } else if (sensorData >= 1023 && sensorData <= 1023) {
    nilai_cm = "6.0";
  }
  Serial.println(sensorData);
  Serial.println(nilai_cm);
  mySerial.println(nilai_cm); // Mengirim nilai sensor ke mySerial
  delay(100); // Menunggu 2 detik sebelum membaca lagi
}
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
